@use "variables" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 45px 100px;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 40px;
  justify-content: center;
  gap: 50px;
  background-color: $card-container-background-color;
  border-radius: $border-radius-card-container;
}

@media (max-width: 768px) {
  .home {
    padding: 15px;
  }

  .card-container {
    display: flex;
    padding: 0;
    background-color: transparent;
    gap: 20px;
  }
}
