@use "variables" as *;
.layout-default {
  background-color: $background-color;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .layout-default-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
