@use "variables.scss" as *;

.logement {
  display: flex;
  flex-direction: column;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-rating {
    display: none;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }

  &-tags-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
    }
  }

  &-title-host-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logement-title-container {
      display: flex;
      flex-direction: column;
    }

    .logement-title {
      font-size: 36px;
      font-weight: 500;
      color: $primary-color;
      margin: 0;
    }

    .logement-location {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }
  }

  &-rating-host-container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-rating-host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-host {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

    .rating {
      display: none;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      text-align: right;
      margin: 0;
      color: $primary-color;
    }
  }
}

@media (max-width: 768px) {
  .logement {
    &-container {
      flex-direction: column;
      gap: 0px;
    }

    &-title-host-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    &-title {
      text-align: left;
    }

    &-location {
      text-align: left;
    }

    &-rating {
      display: flex;
      align-items: center;

      svg {
        width: 18px;
        height: 18px;
        margin-right: 0;
      }
    }

    &-rating-host-container-right {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .logement-rating {
        display: flex;
        align-items: center;
      }
    }

    &-host {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
      gap: 10px;

      &-name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
      }

      .rating {
        display: flex;
      }
    }

    &-tags-rating {
      flex-direction: column;
      align-items: flex-start;

      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
