// Couleurs
$background-color: #ffffff; // Equivalent de bg-gray-100
$footer-background-color: black;
$footer-text-color: white;
$card-background-color: #ff5f5f;
$header-link-color: #000000;

// Espacements
$padding: 1rem;

// Tailles d'image
$logo-width: 122px;
$logo-height: 39px;

// Typographie
$font-family: "Montserrat", sans-serif;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 12px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;
