@use "../styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px;

  img {
    width: $logo-width;
    height: $logo-height;
  }

  nav {
    display: flex;
    gap: 40px;

    .header-link {
      text-decoration: none;
      color: inherit;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 15px;

    nav {
      gap: 10px;
    }
  }

  img {
    width: 145px;
    height: 47px;
  }
}

@media screen and (max-width: 768px) {
  .nav-text {
    text-transform: uppercase;
  }
}
